<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Finder</a></li>
            <li role="presentation"><a href="/tracker">Tracker</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
      {% if notScanner %}
      <footer class="footer">
        <p>© 2021 Cameron Krueger</p>
      </footer>
      {% endif %}
    </div> <!-- /container -->
  </body>
</html>